@charset 'UTF-8';

:root{
    --cor1: #49a09d;
    --cor2: #5f2c82;
    --cor3: #4fa3a0;
    --cor4: #326b69;
}

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: var(--cor2);
    height: 100vh;
    width: 100vw;
}

main{
    /* position: relative; */
    height: 100vh;
    width: 100vw;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    
}

section{
    overflow: hidden;

    background-color: white;
    height: 525px;
    width: 250px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.658);

    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

section > div#imagem{
    background: #5f2c82 url(../imagens/metal.jpg) no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 200px;
}

section > div#formulario{
    padding: 10px;
}

div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
    text-align: justify;
}

form > div.campo{
    background-color: var(--cor2);
    border: 2px solid var(--cor2);
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}

div.campo > label{
    display: none;
}

div.campo > span{
    color: white; 
    /* background-color: black; */
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input{
    background-color: var(--cor3);
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-12px);
}

div.campo > input:focus-within{
    background-color: white;
}

form > input[type=submit]{
     display: block;
     font-size: 1em;
     width: 100%;
     height: 40px;
     background-color: var(--cor1);
     border: none;
     border-radius: 6px;
     cursor: pointer;
}

form >input[type=submit]:hover{
    background-color: var(--cor4);
}

form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 7px;
    margin-top: 5px;
    background-color: white;
    color: var(--cor4);
    border: 1px solid var(--cor1);
    border-radius: 6px;
    text-decoration: none;
}

form > a.botao:hover{
    background-color: var(--cor3);
}

form > a.botao > span {
    font-size: 0.9em;
}